<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
    <link rel="icon" href="{% static 'polls/nlp-logo.png' %}">
    <link href="https://fonts.googleapis.com/css2?family=Manrope&display=swap" rel="stylesheet">
    <title>Mockup 5</title>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>

<div class="wrapper">
    <div class="sidebar">
        <h2>Sidebar</h2>
        <ul>
            <li><a href="/"><i class="fas fa-home"></i>Home</a></li>
            <li><a href="#"><i class="fas fa-star"></i>Type 1</a></li>
            <li><a href="/mo4"><i class="fas fa-star"></i>Type 2</a></li>
            <li><a href="/mo5"><i class="fas fa-star"></i>Type 3</a></li>
            <li><a href="#"><i class="fas fa-wrench"></i>Settings</a></li>
        </ul>
    </div>
    <div class="main_content">
        <div class="info">
            <h1>Create a sentence containing a pronoun.</h1>
            <!-- <p>Write Here: </p> -->
            <div>
            <form action="/mo5" method="POST">
            {% csrf_token %}
                <input type="text" id="sentence" name="sentence" placeholder="Write Here" autocomplete="off"><br>
                <input type="submit" value="Submit">
            </form>
            </div>
            <div>
                {% if words or words != None%}
                    <p>
                    {% for wordData in words %}
                        {% if wordData.match != null  %}
                            <span class="match">{{ wordData.word }}</span>
                        {% else %}
                            <span class="nomatch">{{ wordData.word }}</span>
                        {% endif %}
                    {% endfor %}
                    </p>
                {% endif %}
                {% if interpretations %}
                    <p>There is a pronoun in the sentence you entered !</p>
                {% elif interpretations != None %}
                    <p>The sentence you entered does not contain any pronoun</p>
                {% endif %}
            </div>
    </div>
    </div>
<script>
    /**
     * Shuffles array in place. ES6 version
     * @param {Array} a items An array containing the items.
     */
    function shuffle(a) {
        for (let i = a.length - 1; i > 0; i--) {
            const j = Math.floor(Math.random() * (i + 1));
            [a[i], a[j]] = [a[j], a[i]];
        }
        return a;
    }
    const COLORS = shuffle(["#01f1fe", "#ffa510", "#0e1f52", "#660000", "#fc322b", "#940140", "#04e6fe", "#fd6986", "#108dfc"])
    for (let i = 0; i < document.getElementsByClassName("match").length; i++) {
        document.getElementsByClassName("match")[i].style = "border-bottom: 3px solid" + COLORS[i];
    }
</script>
</body>
</html>