<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'polls/style.css' %}"
    />
    <link rel="icon" href="{% static 'polls/nlp-logo.png' %}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope&display=swap"
      rel="stylesheet"
    />
    <title>Mockup 4</title>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <div class="sidebar">
        <h2>Sidebar</h2>
        <ul>
          <li>
            <a href="/"><i class="fas fa-home"></i>Home</a>
          </li>
          <li>
            <a href="/mo2"><i class="fas fa-star"></i>Type 1</a>
          </li>
          <li>
            <a href="/mo4"><i class="fas fa-star"></i>Type 2</a>
          </li>
          <li>
            <a href="/mo5"><i class="fas fa-star"></i>Type 3</a>
          </li>
          <li>
            <a href="#"><i class="fas fa-wrench"></i>Settings</a>
          </li>
        </ul>
      </div>
      <div class="main_content">
        <div class="info">
          <form action="/mo5" method="POST">
            {% for sentence in sentences %}
              <input type="text" class="sentences" value="{{ sentence }}" disabled>
            {% endfor %}
            {% csrf_token %}
            <br>
            <label for="sentence">Write here the pronoun in the sentence of your target language</label>
            <input type="text" id="sentence" name="sentence" placeholder="Write Here" autocomplete="off"><br>
            <input type="submit" value="Submit">
          </form>
        </div>
      </div>
    </div>
    {% csrf_token %}
  </body>
</html>
